<tr align="center">
  <td class="alt1Active" colspan="2" align="left">
    <table cellpadding="0" cellspacing="0" border="0">
    <tr>
      <td>..</td>
      <td>&nbsp;</td>
      <td>
        <div><strong><%= link_to h(forum.title), forum_path(forum.id) %></strong></div>
        <div class="smallfont"><%=h forum.description %></div>
      </td>
    </tr>
    </table>
  </td>
  <td class="alt2">
    last post
  </td>
  <td class="alt1"><%= forum.topic_count %></td>
  <td class="alt2"><%= forum.post_count %></td>
</tr>
