<table class="tborder" cellpadding="6" cellspacing="1" border="0" width="100%" align="center" style="border-bottom-width:0px">
<tr>
  <td class="tcat" width="100%">Sub-Forums<span class="normal"> : <%= forum.title %></span></td>
</tr>
</table>
<table class="tborder" cellpadding="6" cellspacing="1" border="0" width="100%" align="center">
<tr align="center">
  <td class="thead">&nbsp;</td>
  <td class="thead" width="100%" align="left">Forum</td>
  <td class="thead">Last Post</td>
  <td class="thead">Threads</td>
  <td class="thead">Posts</td>
</tr>
<% for child in forum.fetch_forums_by_ids(forum.child_ids) %>
  <% if child.is_forum?%>
    <%= render :partial => 'level2_post', :locals => {:child => child} %>
  <% else %>
    <%= render :partial => 'level2_nopost', :locals => {:child => child} %>
  <% end %>
<% end %>
</table>
<br />
