<% title "Forums" %>

<table class="tborder" cellpadding="6" cellspacing="1" border="0" width="100%" align="center">
<tr align="center">
  <td class="thead"/>&nbsp;</td>
  <td class="thead" width="100%" align="left">Forum</td>
  <td class="thead">Last Post</td>
  <td class="thead">Threads</td>
  <td class="thead">Posts</td>
</tr>
<% for forum in @forums %>
  <% if forum.is_root? && !forum.is_forum.nil?%>
    <%= render :partial => 'level1_nopost', :locals => {:forum => forum} %>
    <%= render_child_forums(forum.descendants.arrange(:order => :display_order)) %>
  <% end %>
<% end %>
</table>