<% title "Forums" %>

<table class="tborder" cellpadding="6" cellspacing="1" border="0" width="100%" align="center">
<tr align="center">
  <td class="thead"/>&nbsp;</td>
  <td class="thead" width="100%" align="left">Forum</td>
  <td class="thead">Last Post</td>
  <td class="thead">Threads</td>
  <td class="thead">Posts</td>
</tr>
<% for forum in @forumbits %>
  <% unless forum.is_forum %>
    <%= render :partial => 'level1_nopost', :locals => {:forum => forum} %>
  <% else %>
    <%= render :partial => 'level1_post', :locals => {:forum => forum} %>
  <% end %>
<% end %>
</table>