<% title @topic.title %>

<% for post in @posts  %>
  <%= render :partial => 'postbit', :locals => {:post => post} %>
<% end %>


<br />
<p>
  <%= link_to "Reply", "#{new_post_path}?topic=#{@topic.id}" %> |
  <%= link_to "Destroy Topic", @topic, :confirm => 'Are you sure?', :method => :delete %>
</p>