<table cellpadding="6" cellspacing="0" border="0" width="100%" class="page" align="center">
<tr>
  <td class="tfoot" align="right" width="100%">
    <div class="smallfont">
      <strong>
        <%= link_to "Admin", admincp_root_path %> - 
        <a href="#top" onclick="self.scrollTo(0, 0); return false;">Top</a>
      </strong>
    </div>
  </td>
</tr>
</table>

<br />

<div align="center">
  <div class="smallfont" align="center">
    Copyright &copy; <%= time_tag Date.today, :format => "%Y" %>, EscalateMedia LP - All Rights Reserved.
  </div>
</div>
